#card-product {
  .content {
    background-color: $color_white;
    border-radius: 5px;
    padding: 50px 30px 40px 35px;
    .about__product {
      @include flex;
      justify-content: space-around;
    }
  }
  .left {
    @include flex;
    flex: 1 1 50%;
  }
  .slider-for {
    max-width: 450px;
    height: 100%;
    img {
      max-width: 450px;
      height: 100%;
    }
  }
  .slider-nav {
    max-width: 105px;
    height: 100%;
    margin: 30px 0 0;
    .slider__img {
      border: 1px solid rgba(17, 17, 17, 0.274);
      border-radius: 5px;
      margin: 5px 0;
      img {
        max-width: 100px;
        height: 100px;
        border-radius: 5px;
      }
    }
  }
  .slider__for-box {
    position: relative;
    margin: 0 0 0 5px;
    .sale__attentionIcon {
      position: absolute;
      right: 5px;
      top: 0;
      z-index: 2;
      background-color: $color_sale-attention;
      color: $color_white;
      width: 125px;
      padding: 5px 9px;
      border-radius: 5px;
    }
  }
  .rigth {
    flex: 1 1 50%;
    margin-top: 7px;
    .itemOfGoods {
      color: $color_card__product-text;
      font-size: 0.8em;
      margin: 0 0 10px 10px;
      span {
        margin-left: 3px;
      }
    }
    .about__items {
      padding: 26px 23px;
      background-color: $color_card_right_bg;
      border-radius: 5px;
      .product__name {
        width: 100%;
        max-width: 350px;
        margin-bottom: 43px;
        p {
          font-size: 1.375em;
          color: $color_card_name;
          line-height: 1.2;
          font-weight: bold;
        }
      }
      .product__description {
        margin-bottom: 35px;
        p {
          color: $color_left_sidbar_text;
          font-size: 0.8em;
          font-family: "Gilroy-Regular";
        }
      }
      .product__price {
        font-family: "Gilroy-Regular";
        display: flex;
        justify-content: space-between;
        .strikeout__price {
          margin-bottom: 5px;
          span {
            text-decoration: line-through;
            color: $color_card__product-text;
          }
        }
        .current__price {
          font-weight: bold;
          color: $color_footer-linkMenu-active;
          font-size: 1.375em;
        }
        .add-to-cart {
          button {
            width: 80px;
            height: 50px;
            padding: 7.5px 10px;
            @include cart-btn;
            background-color: $color_bg_header-bottom__row;
            border-radius: 5px;
            position: relative;
            img {
              width: 30px;
              height: 32px;
              transform: translateX(15px);
            }
            &::before,
            &::after {
              content: "";
              width: 18px;
              height: 3px;
              background-color: $color_white;
              position: absolute;
              top: 45%;
              left: 12px;
            }
            &::after {
              transform: rotate(90deg);
            }
            &:hover {
              @include hvrOpacity;
            }
          }
          .max__product-count {
            margin-top: 15px;
            p {
              color: $color_left_sidbar_text;
              font-size: 0.8em;
              text-align: right;
              margin-left: -10px;
            }
          }
        }
      }
    }
  }
  .other__descriptionProduct {
    margin: 55px 0 0;
    @include flex;
    justify-content: space-around;
  }
  .reviews__tabs,
  .characteristics {
    flex: 1 1 50%;
    .tabs {
      display: flex;
      li {
        padding: 18px 19px 16px;
        font-size: 0.9em;
        font-weight: bold;
        background-color: $color_tabs;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin-right: 5px;
        border: 1px solid rgba(17, 17, 17, 0.274);
        margin-bottom: -1px;
        z-index: 1;
        cursor: pointer;
        letter-spacing: 1px;
        a {
          color: $color_tabs_link;
          @include transition;
        }
        &:hover a {
          color: inherit;
        }
        &.uk-active a {
          color: $color_footer-linkMenu-active;
        }
        &.uk-active {
          background-color: $color_white;
          border-bottom: none;
        }
        #reviews__count {
          &::before {
            content: "•";
          }
        }
      }
    }
    #first__tabs {
      border: 1px solid rgba(17, 17, 17, 0.274);
      height: 350px;
      max-width: 585px;
      padding: 18px 19px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      overflow: overlay;
      li {
        p {
          font-family: "Gilroy-Regular";
          font-size: 0.8em;
          color: $color_card__product-text;
          font-weight: bold;
          margin-bottom: 15px;
          &:first-child {
            font-size: 1.125em;
            margin-bottom: 25px;
            color: $color_left_sidbar_text;
          }
        }
      }
      .review__box {
        margin-bottom: 20px;
        .review__name {
          color: $color_footer-linkMenu-active;
          font-size: 1.125em;
          margin-bottom: 10px;
        }
        .review__text {
          color: $color_card__product-text;
          font-size: 0.9em;
          padding-right: 10px;
        }
        .review__data {
          color: $color_tabs;
          font-size: 0.65em;
        }
      }
    }
  }
  .characteristics {
    padding: 0 0 0 36px;
    p {
      color: $color_footer-linkMenu-active;
      margin-bottom: 25px;
      padding-top: 10px;
      letter-spacing: 1px;
    }
    li {
      margin: 10px 0;
    }
  }
}
