@font-face {
  font-family: "Gilroy-medium";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("../fonts/Gilroy/Gilroy-Medium.ttf") format("truetype"),
    url("../fonts/Gilroy/Gilroy-Medium.woff") format("woff"),
    url("../fonts/Gilroy/Gilroy-Medium.eot") format("eot");
}
