#footer {
  padding: 80px 0;
  background-color: $color_footer-bg;
  a {
    color: $color_footer-linkMenu;
  }
  .conteiner,
  .footer__nav ul {
    @include flex;
    justify-content: space-between;
  }
  .footer__nav ul {
    li {
      font-size: 1.75em;
      font-weight: bold;
      width: 225px;
      margin-bottom: 19px;
      a {
        @include transition;
        &.active {
          color: $color_footer-linkMenu-active;
        }
        &:hover {
          color: $color_footer-linkMenu-active;
        }
      }
    }
  }
  .footer__menu {
    flex: 1 1 37%;
  }
  .footer__contacts {
    flex: 1 1 63%;
    .footer__subscribe {
      p {
        width: 100%;
        max-width: 90%;
        font-size: 1.35em;
        color: $color_text-description;
        margin: 0 0 25px;
      }
      input[type="email"],
      input[type="button"] {
        border: 2px solid $color_footer-subscribe-btn;
        height: 70px;
        width: 100%;
        max-width: 345px;
        padding: 0 25px;
        margin-bottom: 35px;
        font-size: 1.5em;
        color: $color_header_link;
      }
      input[type="button"] {
        max-width: 200px;
        color: $color_white;
        background-color: $color_footer-subscribe-btn;
        margin: 0 0 35px -5px;
        @include transition;
        cursor: pointer;
        &:hover {
          @include hvrOpacity;
        }
      }
    }
    .footer__about {
      @include flex;
      line-height: 1.2;
      font-family: "Gilroy-Regular";
      .phone,
      .operating__mode {
        font-size: 1.75em;
        margin-right: 70px;
        p {
          color: $color_text-description;
        }
        a {
          color: $color_footer-linkMenu-active;
          font-weight: bold;
        }
      }
      .operating__mode {
        p {
          &:nth-child(2) {
            color: $color_footer-linkMenu-active;
            font-weight: bold;
            letter-spacing: 1.5px;
          }
        }
      }
    }
  }
}
.footer__signature {
  color: $color_signature;
  font-family: "Gilroy-Regular";
  P {
    margin-top: -25px;
  }
}
