#header {
  border-bottom: 3px solid $color_white;
  a {
    color: $color_header_link;
  }
  .top__row {
    background-color: $color_bg_header-top__ow;
    padding: 3px 0 2px;
    .logo {
      cursor: pointer;
    }
    .menu__items {
      ul {
        li {
          margin: 0 25px;
          a {
            @include transition;
            &:hover {
              @include hvrOpacity;
            }
          }
        }
      }
    }
    .cabinet {
      a {
        @include flex;
        font-size: 1.112em;
        cursor: pointer;
        @include transition;
        img {
          object-fit: contain;
        }
        span {
          display: block;
          width: 90px;
          padding: 0 10px;
          text-align: center;
        }
        &:hover {
          @include hvrOpacity;
        }
      }
    }
  }
  .bottom__row {
    background-color: $color_bg_header-bottom__row;
    color: $color_white;
    font-size: 1.112em;
    padding: 15px 0;
    a {
      color: $color_white;
    }
    .conteiner {
      align-items: center;
    }
    .catalog__menu {
      @include flex;
      align-items: center;
      position: relative;
      span {
        text-transform: uppercase;
        cursor: pointer;
      }
      .burger__catalog {
        display: block;
        width: 22px;
        height: 16px;
        position: relative;
        margin: 0 10px 0 0;
      }
      .burger__catalog span {
        position: absolute;
        background-color: $color_white;
        left: 0;
        width: 100%;
        height: 1px;
        top: 7px;
      }
      .burger__catalog::before,
      .burger__catalog::after {
        content: "";
        background-color: $color_white;
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
      }
      .burger__catalog::before {
        top: 0;
      }
      .burger__catalog::after {
        bottom: 0;
      }
      .category {
        .category__box-menu {
          display: flex;
        }
        background-color: $color_bg_category-menu;
        position: absolute;
        top: 51px;
        left: 0;
        font-size: 0.7em;
        a {
          display: inline-block;
          margin: 8px 40px 12px 15px;
          font-weight: bold;
        }
        .category__menu-items {
          border-right: 4px solid $color_white;
          li {
            width: 225px;
            @include transition;
            &:hover {
              background-color: $color_white;
              width: 230px;
              margin-left: -5px;
              padding-left: 5px;
            }
            a {
              white-space: initial;
              color: $color_category-menu_text;
            }
          }
        }
        .box__sub-menu {
          padding: 25px;
          width: 1000px;
          h3 {
            font-size: 1.5em;
            color: $color_category-menu_text;
            padding: 8px 15px 12px;
          }
        }
        .category__sub-menu {
          @include flex;
          li {
            display: block;
            width: 33%;
            a {
              white-space: nowrap;
              color: $color_subCategory-menu_text;
              padding: 0px 15px 0px 0;
              &:hover {
                opacity: 0.75;
              }
            }
          }
        }
        .category__description {
          background-color: $color_white;
          p {
            color: $color_subCategory-menu_text;
            text-transform: initial;
            padding: 10px 0;
            text-align: center;
          }
        }
      }
    }
    .search,
    #search {
      position: relative;
      input[name="search"] {
        width: 290px;
        height: 35px;
        background-color: $color_search-bg;
        border-radius: 4px;
        padding: 0 20px;
        font-size: 20px;
        color: $color_header_link;
        border: none;
        &::placeholder {
          color: $color_header_link;
        }
      }
      .search__btn {
        background-color: transparent;
        position: absolute;
        right: 10px;
        top: -1px;
        width: 50px;
        img {
          max-width: 20px;
          height: 20px;
        }
      }
    }
    .contacts__phone {
      a {
        color: $color_white;
      }
    }
    #cart,
    .cart {
      cursor: pointer;
      .cart__btn {
        max-width: 40px;
        height: 37px;
        background-color: transparent;
        img {
          max-width: 41px;
          height: 37px;
        }
      }
    }
  }
  .conteiner,
  .menu__items ul {
    @include flex;
    align-items: center;
    justify-content: space-between;
  }
}
