@import "_mixin";
@import "_variables";

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Gilroy-medium";
  font-size: 18px;
}
main {
  background-color: $color_bg-main;
}
.conteiner {
  max-width: $widthContent;
  margin: 0;
  padding: 0 40px;
}
.m-auto {
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color_headers;
}
a {
  text-decoration: none;
  color: $color_black;
}
ul {
  padding: 0;
  li {
    list-style: none;
  }
}
img {
  border: 0;
  max-width: 100%;
}
.lock {
  overflow: hidden;
}
.uk-link:hover,
a:hover {
  text-decoration: none;
}
address,
blockquote,
dl,
fieldset,
figure,
ol,
p,
pre,
ul {
  margin: 0;
}
