// width
$widthContent: 1305px;
// colors
$color_white: rgb(255, 255, 255);
$color_black: rgb(0, 0, 0);
$color_danger: rgba(255, 0, 0, 100%);
$color_bg-main: rgb(255, 128, 26);
$color_bg_header-top__ow: rgb(255, 255, 255);
$color_bg_header-bottom__row: rgb(255, 115, 3);
$color_burger-menu: rgb(255, 255, 255);
$color_header_link: rgb(255, 134, 37);
$color_search-bg: rgb(255, 227, 205);
$color_slider_arows: rgb(255, 115, 3);
$color_headers: rgb(255, 255, 255);
$color_headers-toWhiteBg: rgb(255, 120, 0);
$color_text-description: rgb(112, 112, 112);
$color_footer-bg: rgb(255, 255, 255);
$color_footer-linkMenu: rgb(102, 102, 102);
$color_footer-linkMenu-active: rgb(255, 120, 0);
$color_signature: rgb(153, 153, 153);
