// width
$widthContent: 1305px;
// colors
$color_white: rgb(255, 255, 255);
$color_black: rgb(0, 0, 0);
$color_danger: rgba(255, 0, 0, 100%);
$color_sale-attention: rgb(255, 113, 0);
$color_bg-main: linear-gradient(
  360deg,
  rgb(244, 203, 131) 0%,
  rgb(244, 202, 131) 0%,
  rgb(250, 158, 66) 27%,
  rgb(255, 115, 0) 100%
);
$color_bg_header-top__ow: rgb(255, 255, 255);
$color_bg_header-bottom__row: rgb(255, 115, 3);
$color_bg_category-menu: rgb(255, 227, 205);
$color_category-menu_text: rgb(51, 51, 51);
$color_subCategory-menu_text: rgb(102, 102, 102);
$color_burger-menu: rgb(255, 255, 255);
$color_header_link: rgb(255, 134, 37);
$color_search-bg: rgb(255, 227, 205);
$color_slider_arows: rgb(255, 115, 3);
$color_headers: rgb(255, 255, 255);
$color_headers-toWhiteBg: rgb(255, 120, 0);
$color_text-description: rgba(112, 112, 112, 0.761);
$color_footer-bg: rgb(255, 255, 255);
$color_footer-linkMenu: rgb(102, 102, 102);
$color_footer-linkMenu-active: rgb(255, 120, 0);
$color_footer-subscribe-btn: rgb(255, 113, 0);
$color_signature: rgb(153, 153, 153);

$color_card__product-text: rgba(51, 51, 51, 0.74);

// category-page

$color_left_sidbar_bg: rgb(240, 240, 240);
$color_left_sidbar_text: rgba(51, 51, 51, 0.78);

// pagination
$color_pagination: rgba(102, 102, 102, 0.671);
$color_pagination_bg: rgb(244, 244, 244);
