<div id="search" class="input-group">
	<input type="text" name="search" value="{{ search }}" placeholder="Найти товар" class="form-control input-lg"/>
	<span class="input-group-btn">
		<button type="button" class="btn search__btn"><img src="catalog/view/theme/korzinka/assets/img/icon/search_icon.png" alt="img btn"></button>
	</span>
</div>
